Flask
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
python-dotenv
werkzeug
Flask-WTF
pandas
openpyxl
wtforms-sqlalchemy
email_validator
pytz
gunicorn  # <-- Add this
psycopg2-binary # <-- Add this
Flask-Mail  # <-- Add this
itsdangerous # <-- Add this (for secure tokens)